<!DOCTYPE html>
<html>
<head>
    <title>Exercise</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type='module' src='/javascripts/index.js'></script>
</head>
<body>
<h1 class="title">Search name on github</h1>
<div id="page" class="section">
    <form id="nameForm">
        <label for="name">Write the name here </label><input id="name" class="input" name="name" type="text">
      <button id="submit" class="btn" type="submit" >submit</button>
    </form>
</div>
</body>
</html>
